<head>
  {{ partial "head/meta" . }}
  <title>{{ partial "data/title" . }}</title>
  <link rel='canonical' href='{{ .Permalink }}'>
  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}

<!--   {{- range .Site.Params.assets.customJS -}}
    <script src='{{ . | relURL }}'></script>
  {{- end -}} -->

  {{ partial "head/hreflang" . }}
  {{ partial "head/includes" . }}
</head>
