@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i|Lato');

body {
    text-rendering: optimizeLegibility;
}

.copyright {
    font-size: 0.9em;
}

.header-info .title {
    margin-bottom: 0;
    text-transform: none;
}



code {
    font-family: Monaco, monospace, monospace;
    font-size: 1em;
    background-color: #f0f0f0;
    padding: 1px 2px 1px 2px;
    border-radius: 4px;
}

pre > code {
    font-family: Monaco, monospace, monospace;
    font-size: 1em;
    background-color: #272822;
}

/* https://github.com/github/markup/issues/168 */
pre {
  white-space: pre-wrap;
}
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}


body,
button,
input,
select,
textarea {
    font-family: Lato, 'Quattrocento Sans', 'Helvetica Neue', 'Siyam Rupali', sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    color: #37474f;
    word-wrap: break-word;
}

.entry-content {
    font-size: 1em;
    line-height: 1.4;
}

blockquote {
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
}
@media screen and (min-width: 480px) {
    .title,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Lato, 'Quattrocento Sans', Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, Siyam Rupali, sans-serif;
        /* font-weight: 700; */
        line-height: 1.5;
        color: #37474f;
        margin: 0 0 .625em
    }

    code,
    kbd,
    pre,
    tt,
    var {
        font-size: 0.96em;
        font-family: Monaco, Ubuntu Mono, Consolas, Andale Mono, monospace;
        white-space: pre-wrap
    }

    .main-menu-container {
        margin-top: 1em;
    }

    .footer>div:last-child {
      margin-bottom: 1em;
    }

    .header:after {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
