{{ partial "header" . }}

<main id='main' class='main'>
  <article lang='{{ .Params.lang | default .Lang }}' class='entry'>
    {{ partial "entry/header" . }}
    {{ partial "entry/cover" . }}
    {{ partial "entry/toc" . }}
    {{ partial "entry/content" . }}
    {{ partial "entry/footer" . }}
    <!-- {{ partial "extras/related" . }} -->
  </article>
  {{ partial "nav/entry_nav" . }}
  {{ partial "entry/comments" . }}
</main>

{{ partial "footer" . }}
